#award-section-inner-container {
  padding: 36px 0 36px 0;
}

#awards-heading,
.award-title {
  font-family: "tbc-bold";
  font-size: 14px;
  color: #141719;
  margin: 0;
}

.award-title {
  line-height: 30px;
  width: 95%;
}

#awards-heading {
  margin-bottom: 20px;
  margin-left: 15px;
}

#award-slider {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  height: fit-content;
  width: 100%;
  padding: 0 15px 20px 15px;
  overflow-x: scroll;
}
#award-slider:hover {
  cursor: grab;
}
#award-slider:active {
  cursor: grabbing;
}

.award-slide-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 254px;
  width: calc(100vw - 90px);
  height: fit-content;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  row-gap: 16px;
  padding: 28px;
  border-radius: 6px;
  transition: all 0.25s ease-in-out;
}
.award-slide-item:hover,
.award-slide-item:active {
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
  border-color: #e1e4e5;
}

.award-logo {
  height: 52px;
  background-size: contain;
  background-repeat: none;
}

#award-logo-1,
#award-logo-3 {
  background-image: url(https://static.tbcconcept.ge/mobile/media/dffiuhjz.i3xglobal-finance-logo-8F6EBD1345-seeklogo.com.png);
  width: 118px;
}
#award-logo-2 {
  background-image: url(https://static.tbcconcept.ge/mobile/media/kxhrqpjz.vqveuromoney-institutional-investor-plc-logo-vector.png);
  width: 94px;
}
#award-logo-4 {
  background-image: url(https://static.tbcconcept.ge/mobile/media/hke31ar3.p5dthe-banker-logo-png-transparent.png);
  width: 52px;
}

.issuer {
  font-family: "tbc-regular";
  font-size: 14px;
  color: #555f62;
  margin: 0;
}

@media (min-width: 480px) {
  .award-slide-item {
    width: calc(100vw - 160px);
  }
}

@media (min-width: 600px) {
  #awards-heading {
    font-size: 24px;
    margin-bottom: 28px;
    margin-left: 45px;
  }
  #award-slider {
    padding: 0 45px 28px 45px;
  }
  .award-slide-item {
    width: calc(100vw * 4 / 9);
  }
}

@media (min-width: 768px) {
  .award-title {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  #award-section {
    display: flex;
    justify-content: center;
  }
  #award-heading {
    width: 100%;
    max-width: 1157px;
  }
  #award-section-inner-container {
    width: 100%;
    max-width: 1204px;
  }
  #awards-heading {
    margin-left: 47px;
  }
  #award-slider {
    overflow-x: hidden;
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media (min-width: 1024px) {
  .award-slide-item {
    width: calc(100vw / 3);
    max-width: 420px;
  }
}

@media (min-width: 1440px) {
}
